<!-- Main layout -->
<main>
  <div class="container-fluid">

    <!--Section: Contact v.1 -->
    <section class="section pb-5">

      <form>
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col">
            <!-- Default input -->
            <select class="mdb-select md-form" [(ngModel)]="emp_id" [ngModelOptions]="{standalone: true}" placeholder="Select Employee">
              <option *ngFor="let emp of empList" [value]="emp.emp_id">{{emp.first_name +' '+ emp.last_name}}</option>
            </select>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col">
            <!-- Default input -->
            <div class="md-form">
              <input placeholder="Selected date" type="text" id="date-picker-example" class="form-control datepicker">
              <label for="date-picker-example" class="active">Select Start date</label>
            </div>
          </div>

          <div class="col">
            <!-- Default input -->
            <div class="md-form">
              <input placeholder="Selected date" type="text" id="date-picker-example" class="form-control datepicker">
              <label for="date-picker-example" class="active">Select End date</label>
            </div>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </form>

      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-12">
          <div id="calendar"></div>
        </div>

        <!-- Grid column -->
      </div>
      <!-- Grid row -->


    </section>
    <!--Section: Contact v.1 -->

  </div>
</main>