<main>
    <div class="container-fluid">

        <!--Section: Contact v.1 -->
        <section class="section pb-5">

            <!-- Gird column -->
            <div class="col-md-12">

                <h5 class="my-4 dark-grey-text font-weight-bold">Users</h5>

                <div class="card">
                    <div class="card-body">

                        <form>
                            <!-- Grid row -->
                            <div class="row">
                                <!-- Grid column -->
                                <div class="col">
                                    <!-- Default input -->
                                    <select class="mdb-select md-form">
                                        <option value="1">VT Admin</option>
                                        <option value="2">Corporates</option>
                                        <option value="3">School</option>
                                    </select>
                                    <label class="mdb-main-label">Select User Type</label>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col">
                                    <!-- Default input -->
                                    <select class="mdb-select md-form">
                                        <option value="1">VT Admin</option>
                                        <option value="2">Corporates</option>
                                        <option value="3">School</option>
                                    </select>
                                    <label class="mdb-main-label">Select User</label>
                                </div>


                                <!-- Grid column -->
                            </div>
                            <!-- Grid row -->
                        </form>


                        <table id="dtMaterialDesignExample" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Name
                                    </th>
                                    <th>Position
                                    </th>
                                    <th>Office
                                    </th>
                                    <th>Age
                                    </th>
                                    <th>Start date
                                    </th>
                                    <th>Salary
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>AAAA Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                </tr>

                                <tr>
                                    <td>ABBB Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                </tr>

                                <tr>
                                    <td>ACCC Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                </tr>

                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                </tr>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Name
                                    </th>
                                    <th>Position
                                    </th>
                                    <th>Office
                                    </th>
                                    <th>Age
                                    </th>
                                    <th>Start date
                                    </th>
                                    <th>Salary
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
            <!-- Gird column -->





        </section>
        <!--Section: Contact v.1 -->

    </div>
</main>