
  <main>
    <div class="container-fluid">

      <!--Section: Contact v.1 -->
      <section class="section pb-5">

        <!--Section heading -->
         <h4 class="text-center h1">Add Order</h4>
        <!--Section description -->
        <div class="row">
           <div class="col-lg-3 col-md-3 mb-3">
           </div>
          <!-- Grid column -->
          <div class="col-lg-6 mb-6">


                <!-- Nav tabs -->
            <ul class="nav md-tabs nav-justified">
              <li class="nav-item waves-effect waves-light">
                <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab">From work</a>
              </li>
              <li class="nav-item waves-effect waves-light">
                <a class="nav-link" data-toggle="tab" href="#panel2" role="tab">To work</a>
              </li>
            </ul>
            <!-- Tab panels -->
            <div class="tab-content card">
              <!-- Panel 1 -->
              <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
                <!--Body -->

                <select class="mdb-select md-form">
                    <option value="">Select Employee</option>
                    <option value="1">VT Admin</option>
                    <option value="2">Corporates</option>
                    <option value="3">School</option>
                  </select>

                <div class="md-form">
                  <i class="fas fa-map-marker-alt prefix grey-text"></i>
                  <input type="text" id="form-name" class="form-control">
                  <label for="form-name">Select Pick up</label>
                </div>

                <div class="md-form">
                  <i class="fas fa-map-marker-alt prefix grey-text"></i>
                  <input type="text" id="form-email" class="form-control">
                  <label for="form-email">Select Drop off</label>
                </div>

                 <div class="text-center mt-4">
                  <button class="btn btn-light-blue">Submit</button>
                </div>
              </div>
              <!-- Panel 1 -->
              <!-- Panel 2 -->
              <div class="tab-pane fade" id="panel2" role="tabpanel">
                 <!--Body -->
                <select class="mdb-select md-form">
                    <option value="">Select Employee</option>
                    <option value="1">VT Admin</option>
                    <option value="2">Corporates</option>
                    <option value="3">School</option>
                  </select>
                <div class="md-form">
                  <i class="fas fa-map-marker-alt prefix grey-text"></i>
                  <input type="text" id="form-name" class="form-control">
                  <label for="form-name">Select Pick up</label>
                </div>

                <div class="md-form">
                  <i class="fas fa-map-marker-alt prefix grey-text"></i>
                  <input type="text" id="form-email" class="form-control">
                  <label for="form-email">Select Drop off</label>
                </div>
                 <div class="text-center mt-4">
                  <button class="btn btn-light-blue">Submit</button>
                </div>
              </div>

              
              <!-- Panel 2 -->
             
            </div>


               

              </div>

            </div>
            <!--Form with header -->

          <!-- </div> -->
          <!-- Grid column -->

         

        <!-- </div> -->

      </section>
      <!--Section: Contact v.1 -->

    </div>
  </main>