<div id="slide-out" class="side-nav sn-bg-4 fixed">
    <ul class="custom-scrollbar">
      <!-- Side navigation links -->
       <li>
        <ul class="collapsible collapsible-accordion">
          <!-- Simple link -->
            <li>
            <a [routerLink]="['/admin/dashboard']" class="collapsible-header waves-effect"><i
                class="w-fa fas fa-tachometer-alt"></i>Dashboard</a>
          </li>
          <li>
            <a [routerLink]="['/admin/assign-order']" class="collapsible-header waves-effect"><i
                class="w-fa fas fa-list"></i>Assign Order</a>
          </li>
             <li>
            <a [routerLink]="['/admin/order-status']" class="collapsible-header waves-effect"><i
                class="w-fa fas fa-car"></i>Order Status</a>
          </li>
           <li>
            <a [routerLink]="['/admin/user-list']" class="collapsible-header waves-effect"><i
                class="w-fa fas fa-list"></i>Users</a>
          </li>
           <li>
            <a [routerLink]="['/admin/route-planner']" class="collapsible-header waves-effect"><i
                class="w-fa fas fa-list"></i>Route Planner</a>
          </li>
           <li>
            <a [routerLink]="['/admin/create-roaster']" class="collapsible-header waves-effect"><i
                class="w-fa fas fa-list"></i>Create Roaster</a>
          </li>
           <li>
            <a [routerLink]="['/admin/employee-roaster']" class="collapsible-header waves-effect"><i
                class="w-fa fas fa-table"></i>Employee Roster</a>
          </li>
        </ul>
      </li>
      <!-- Side navigation links -->
    </ul>
    <div class="sidenav-bg mask-strong"></div>
  </div>